---
import Layout from '../layout/Layout.astro';
import ContactForm from '../components/ContactForm';

const siteURL = import.meta.env.PUBLIC_URL || "http://localhost:8888";
const response = await fetch(`${siteURL}/.netlify/functions/contact`);
const data = await response.json();

const pageTitle = "Purified Group - Contact Us | Reliable, Efficient, Sustainable Cleaning Services";
const metaTag = "Get in touch with Purified Group for expert Window Cleaning and Solar Panel Maintenance. Learn about our green methods, commitment to quality, and the passionate team led by our dedicated founder. Contact us for sparkling service in Perth, Western Australia";
const url = "https://www.purifiedgroup.com.au/Contact";

---

<Layout page={pageTitle} metaTag={metaTag} url={url}>
    <div class="bg-warm-gray-50">
      <div class="relative mx-auto -mt-12 max-w-7xl px-4 pb-16 sm:px-6 sm:pb-24 lg:px-8">
          <div class="bg-warm-gray-50">
              <div class="pt-24 pb-12 lg:pt-32 lg:pb-16">
                <div class="relative z-10 mx-auto max-w-7xl pl-4 pr-8 sm:px-6 lg:px-8">
                  <h1 class="text-4xl font-bold tracking-tight text-warm-gray-900 sm:text-5xl lg:text-6xl">
                    {data.fields.primaryTextContent}
                  </h1>
                  <p class="mt-6 max-w-3xl text-xl text-warm-gray-500">
                    {data.fields.secondaryTextContent.content[0].content[0].value}
                  </p>
                </div>
              </div>
            </div>
        <ContactForm client:load contactInfo={data.fields.contactInformation} socialLinks={data.fields.socialMediaLinks}/>
      </div>
    </div>
  </Layout>